# General
target/
bin/
build/
*~

# Java
*.class

# Gradle
.gradle/
gradle-app.config

# Scala, sbt
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies

# Ruby
*.sassc
.sass-cache/

# Emacs
\#*\#
.elc

# eclipse and its plugins
.metadata
.classpath
.settings/

# Mac
.DS_Store

# OS
.Spotlight-V100
.Trashes

# private
memo.txt
todo.txt
TODO.txt
