
# general
target/
bin/

# Java
*.class

# Scala, sbt
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies

# ruby
.sass-cache/

# Python
*.py[co]
*.egg
*.egg-info
dist
eggs
fake-eggs
sdist
develop-eggs
.installed.cfg
.mr.developer.cfg
*.mo

# eclipse and its plugins
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp*
*.bak
*.swp
*~.nib
*.launch
local.properties
.classpath
.settings/
.loadpath

# mac
.DS_Store

# private
memo.txt
todo.txt
TODO.txt


